# External Data Sources

The package [Pandas DataReader](https://pydata.github.io/pandas-datareader/stable/) lets us pull financial data directly from the web. There's not a lot to add about it. Just read [the docs](https://pydata.github.io/pandas-datareader/stable/) if you want to know more about it.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas_datareader.data as web

In [3]:
start = pd.Timestamp('2017-01-01')
end = pd.Timestamp('2017-02-01')

**S&P 500**

In [4]:
web.DataReader('^SPX', 'stooq', start, end)

               Open     High      Low    Close        Volume
Date
2018-07-10  2788.56  2795.58  2786.24  2793.84           NaN
2018-07-09  2769.42  2784.65  2769.11  2784.17  4.864766e+08
2018-07-06  2737.68  2764.41  2733.52  2759.82  4.647565e+08
2018-07-05  2724.19  2737.83  2716.02  2736.61  5.161097e+08
2018-07-03  2733.27  2736.58  2711.16  2713.22  3.360335e+08
2018-07-02  2704.95  2727.26  2698.95  2726.71  4.993610e+08
2018-06-29  2727.13  2743.26  2718.03  2718.37  6.853398e+08
2018-06-28  2698.69  2724.34  2691.99  2716.31  5.393122e+08
2018-06-27  2728.45  2746.09  2699.38  2699.63  5.886768e+08
2018-06-26  2722.12  2732.91  2715.60  2723.06  5.860844e+08
2018-06-25  2742.94  2742.94  2698.67  2717.07  6.625703e+08
2018-06-22  2760.79  2764.17  2752.68  2754.88  1.089845e+09
2018-06-21  2769.28  2769.28  2744.39  2749.76  5.439304e+08
2018-06-20  2769.73  2774.86  2763.91  2767.32  5.478821e+08
2018-06-19  2752.01  2765.05  2743.19  2762.59  6.443510e+08
2018-06-18  2765.79  2774.99  2757.12  2773.75  5.778618e+08
2018-06-15  2777.78  2782.81  2761.73  2779.66  1.643960e+09
2018-06-14  2783.21  2789.06  2776.52  2782.49  6.373818e+08
2018-06-13  2787.94  2791.47  2774.65  2775.63  6.652438e+08
2018-06-12  2785.60  2789.80  2778.78  2786.85  5.416998e+08
2018-06-11  2780.18  2790.21  2780.17  2782.00  5.104920e+08
2018-06-08  2765.84  2779.39  2763.59  2779.03  5.110598e+08
2018-06-07  2774.84  2779.90  2760.16  2770.37  5.557280e+08
2018-06-06  2753.25  2772.39  2748.46  2772.35  5.951766e+08
2018-06-05  2748.46  2752.61  2739.51  2748.80  5.481166e+08
2018-06-04  2741.67  2749.16  2740.54  2746.87  5.303774e+08
2018-06-01  2718.70  2736.93  2718.70  2734.62  5.309520e+08
2018-05-31  2720.98  2722.50  2700.68  2705.27  1.013819e+09
2018-05-30  2702.43  2729.34  2702.43  2724.01  5.369482e+08
2018-05-29  2705.11  2710.67  2676.81  2689.86  6.381765e+08
...             ...      ...      ...      ...           ...
1791-10-01     0.62     0.62     0.62     0.62           NaN
1791-09-01     0.61     0.62     0.61     0.62           NaN
1791-08-01     0.60     0.61     0.60     0.61           NaN
1791-07-01     0.60     0.60     0.60     0.60           NaN
1791-06-01     0.60     0.60     0.60     0.60           NaN
1791-05-01     0.60     0.60     0.60     0.60           NaN
1791-04-01     0.60     0.60     0.60     0.60           NaN
1791-03-01     0.59     0.59     0.59     0.59           NaN
1791-02-01     0.58     0.59     0.58     0.59           NaN
1791-01-01     0.57     0.58     0.57     0.58           NaN
1790-12-01     0.57     0.57     0.57     0.57           NaN
1790-11-01     0.56     0.57     0.55     0.55           NaN
1790-10-01     0.55     0.57     0.55     0.56           NaN
1790-09-01     0.54     0.55     0.54     0.55           NaN
1790-08-01     0.53     0.54     0.53     0.54           NaN
1790-07-01     0.53     0.53     0.53     0.53           NaN
1790-06-01     0.52     0.53     0.52     0.53           NaN
1790-05-01     0.51     0.52     0.51     0.52           NaN
1790-04-01     0.50     0.50     0.49     0.50           NaN
1790-03-01     0.49     0.51     0.49     0.50           NaN
1790-02-01     0.49     0.49     0.49     0.49           NaN
1790-01-01     0.50     0.50     0.49     0.49           NaN
1789-12-01     0.50     0.50     0.50     0.50           NaN
1789-11-01     0.51     0.51     0.50     0.50           NaN
1789-10-01     0.51     0.51     0.51     0.51           NaN
1789-09-01     0.51     0.51     0.50     0.51           NaN
1789-08-01     0.50     0.51     0.50     0.51           NaN
1789-07-01     0.50     0.50     0.50     0.50           NaN
1789-06-01     0.51     0.51     0.51     0.51           NaN
1789-05-01     0.51     0.51     0.51     0.51           NaN

[37725 rows x 5 columns]

**Stocks**

In [5]:
web.DataReader(('MSFT', 'AAPL', 'GOOG', 'AMZN', 'FB'), 'morningstar', start, end)

                    Close      High       Low     Open    Volume
Symbol Date
MSFT   2017-01-02   62.14   62.1400   62.1400   62.140         0
       2017-01-03   62.58   62.8400   62.1250   62.790  20694101
       2017-01-04   62.30   62.7500   62.1200   62.480  21339969
       2017-01-05   62.30   62.6600   62.0300   62.190  24875968
       2017-01-06   62.84   63.1500   62.0400   62.300  19922919
       2017-01-09   62.64   63.0800   62.5400   62.760  20382730
       2017-01-10   62.62   63.0700   62.2800   62.730  18593004
       2017-01-11   63.19   63.2300   62.4300   62.610  21517335
       2017-01-12   62.61   63.4000   61.9500   63.060  20968223
       2017-01-13   62.70   62.8650   62.3500   62.620  19422310
       2017-01-16   62.70   62.7000   62.7000   62.700         0
       2017-01-17   62.53   62.7000   62.0300   62.680  20663983
       2017-01-18   62.50   62.7000   62.1200   62.670  19670102
       2017-01-19   62.30   62.9800   62.1950   62.240  18451655
       2017-01-20   62.74   62.8200   62.3700   62.670  30213462
       2017-01-23   62.96   63.1159   62.5700   62.700  23097581
       2017-01-24   63.52   63.7350   62.9400   63.200  24672940
       2017-01-25   63.68   64.1000   63.4500   63.950  24654933
       2017-01-26   64.27   64.5350   63.5500   64.120  43554645
       2017-01-27   65.78   65.9100   64.8900   65.390  44817972
       2017-01-30   65.13   65.7900   64.8000   65.690  31651445
       2017-01-31   64.65   65.1500   64.2600   64.860  25270549
       2017-02-01   63.58   64.6200   63.4700   64.355  39671528
AAPL   2017-01-02  115.82  115.8200  115.8200  115.820         0
       2017-01-03  116.15  116.3300  114.7600  115.800  28781865
       2017-01-04  116.02  116.5100  115.7500  115.850  21118116
       2017-01-05  116.61  116.8642  115.8100  115.920  22193587
       2017-01-06  117.91  118.1600  116.4700  116.780  31751900
       2017-01-09  118.99  119.4300  117.9400  117.950  33561948
       2017-01-10  119.11  119.3800  118.3000  118.770  24462051
...                   ...       ...       ...      ...       ...
AMZN   2017-01-24  822.44  823.9900  814.5000  822.000   2971740
       2017-01-25  836.52  837.4183  825.2880  825.790   4023078
       2017-01-26  839.15  843.8400  833.0000  835.530   3586323
       2017-01-27  835.77  839.7000  829.4400  839.000   2998700
       2017-01-30  830.38  833.5000  816.3800  833.000   3747336
       2017-01-31  823.48  826.9900  819.5600  823.750   3137196
       2017-02-01  832.35  833.7800  824.9400  829.210   3850181
FB     2017-01-02  115.05  115.0500  115.0500  115.050         0
       2017-01-03  116.86  117.8400  115.5100  116.030  20663912
       2017-01-04  118.69  119.6600  117.2900  117.550  19630932
       2017-01-05  120.67  120.9500  118.3209  118.860  19492150
       2017-01-06  123.41  123.8800  120.0300  120.980  28545263
       2017-01-09  124.90  125.4300  123.0400  123.550  22880360
       2017-01-10  124.35  125.5000  124.2800  124.820  17324590
       2017-01-11  126.09  126.1200  124.0600  124.350  18356523
       2017-01-12  126.62  126.7300  124.8000  125.610  18653914
       2017-01-13  128.34  129.2700  127.3700  127.490  24884325
       2017-01-16  128.34  128.3400  128.3400  128.340         0
       2017-01-17  127.87  128.3400  127.4000  128.040  15294460
       2017-01-18  127.92  128.4300  126.8400  128.410  13145852
       2017-01-19  127.55  128.3500  127.4500  128.230  12195465
       2017-01-20  127.04  128.4800  126.7800  128.100  19097223
       2017-01-23  128.93  129.2500  126.9500  127.310  16593563
       2017-01-24  129.37  129.9000  128.3800  129.380  15162724
       2017-01-25  131.48  131.7400  129.7700  130.000  18777314
       2017-01-26  132.78  133.1400  131.4401  131.630  20020141
       2017-01-27  132.18  132.9500  131.0800  132.680  19539514
       2017-01-30  130.98  131.5800  129.6000  131.580  18956095
       2017-01-31  130.32  130.6600  129.5157  130.170  19790484
       2017-02-01  133.23  133.4900  130.6800  132.250  50139775

[115 rows x 5 columns]